*.swp
*.so
*.txt
*.o
*.out
data/*
camera_node.c
build/*
gl_passthrough.cpp
src/runner
src/focus
**/__pycache__/
memories/*
*.profile
*.pickle
.*
tmp
out/*
rl-env/*
rl-venv/*
models/*
disk/*
bounce_rl/build/*
docker_out/
None/
bounce_rl/environments/noita/mod/files/magic_numbers.xml

# Minecraft files
logs/*
GPUCache/*
user_demo*
validation*
